# Copiar este archivo a .env y ajustar valores si es necesario

# MySQL (Docker)
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=citas_medicas
MYSQL_USER=citas_user
MYSQL_PASSWORD=citas_pass
MYSQL_PORT=3306

# API
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=citas_medicas
DB_USER=citas_user
DB_PASSWORD=citas_pass
PORT=3000
